<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="tp">
    <span>“We travel not to escape life but for life not to escape us.” </span>
    </div>
    <br>
    <div id="rt">
        <span class="heading">CATEGORIES</span>
        <app-row [coll]="suv"></app-row><br>
        <app-row [coll]="hachback"></app-row><br>
        <app-row [coll]="sedan" ></app-row><br>
        <app-row [coll]="muv"></app-row><br>
        <app-row [coll]="jeep"></app-row><br>

       
    </div>
</body>
</html>