
.sea{
    width: 90%;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

#search{
    padding: relative;
    margin-left: 35vw;
    height: 50px;
    width: 300px;
    
}
 
.container{
    text-align: center;
    height: 450px;
    width: 95%;
    padding-top:20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33% 33% 34%;
}
.container #ele{
    float: left;
    min-width: 350px;
    width: 350px;
    height: 350px;
    min-height: 350px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.979);
    border-radius: 30px;
}

@media screen and (max-width: 1250px) {
  .container {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width : 900px){
    .container{
        grid-template-columns: 100%;
    }
}

.container::-webkit-scrollbar{
    width: 0px;
}

*::-webkit-scrollbar{
    scroll-behavior: smooth;
}


.box{
    text-align: center;
}

#ele{
    display: flex;
    flex-direction: column;
}

#carimg{
 
    position: relative;
    width: 350px;
    height: 250px;
    background-color: blue;
    border-radius: 10px;

}

#ele{
    justify-content: space-between;
    
}

#add{
    margin: 10px;
}

#cname{
    font-family: fantasy;
    font-size: large;
}

#cpage{
    justify-content:center;
    padding-left: 3vw;
}