<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="to" class="cover">
        <p> WANDER LUST</p>
    </div>
    <div id="tp">
        <div id="h_d">
            <div id="s_img"></div>
        </div>
        <div>
            <h3 id="s_head1">Your Safety is our priority</h3>
            <p id="s_info">
                <br>
                We santise our Vehicles with disinfectant before anf after your booking with us to ensure the safety
                standards

            </p>
        </div>
        <div>
            <p id="s_info">
                <br>
                We ensure our vehicles are always at the best condition and practise good maintanence to offer only
                the best to you.
            </p>
        </div>
        <div id="h_d">
            <div id="s_img2"></div>
        </div>
    </div>
    <div class="box">
        <span id="line"> TOP BOOKING</span>
        <app-row [coll]="top"></app-row>
    </div>
</body>

</html>